body {
    font-family: 'Advent Pro';
    margin: 0;
}

h1 {
    font-size: 120px;
    font-weight: 400;
}

h2 {
    font-size: 64px;
    font-weight: 400;
}

h3 {
    font-size: 32px;
    font-weight: 400;
}

.hero-container {
    background-image: url(./images/landing.jpg);
    height: 100vh;
    background-size: cover;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 0px 64px;
    justify-content: space-between;
    background-color: rgba(62, 54, 34, .8);
    color: #fff;
    height: 64px;
}

.nav-bar ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 24px;
    list-style: none;
    /* border: 1px solid black; */
}

.nav-bar ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hero-text-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
}

.hero-icons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.icons {
    position: fixed;
    right: 0;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-evenly;
}

.hero-text {
    text-align: center;
    color: #fff;
    width: 50%;
}

.hero-text h1, h3 {
    margin: 0;
    text-shadow: 0px 0px 8px black;
}

.subheader {
    color: white;
    text-shadow: 0px 0px 4px black;
    width: 20%;
    padding: 0px 64px;
    position: absolute;
    bottom: 0;
}

.subheader p {
    font-size: 18px;
    font-style: italic;
    font-family: 'Roboto';
}

.arrow {
    position: absolute;
    bottom: 0;
    text-align: center;
    /* border: 1px solid black; */
    width: 100%;
}